.tooltip {
	position: absolute;
	bottom: 100px;
	right: -75px;
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 20px 40px;
	background-color: var(--color-text);
	border-radius: 10px;
}

.shareText {
	color: var(--color-background);
	font-weight: 100;
	letter-spacing: 5px;
}

.shareButton {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.arrow {
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
	clip-path: polygon(50% 50%, 0 0, 100% 0);
	background-color: var(--color-text);
	width: 50px;
	height: 50px;
}
