.tooltipWrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}

.tooltip {
	position: absolute;
	bottom: -10px;
	right: -75px;
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 20px 40px;
	background-color: var(--color-text);
	border-radius: 10px;
}

.shareText {
	color: var(--color-background);
	font-weight: 100;
	letter-spacing: 5px;
}

.shareButton {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.arrow {
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
	clip-path: polygon(50% 50%, 0 0, 100% 0);
	background-color: var(--color-text);
	width: 50px;
	height: 50px;
}

.mobileTooltip {
	display: none;
}

@media (max-width: 800px) {
	.tooltip {
		display: none;
	}

	.mobileTooltip {
		display: flex;
		align-items: center;
		justify-content: space-between;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100px;
		right: 30px;
		background-color: var(--color-text);
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		padding: 30px;
	}

	.mobileLeft {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.closeShareButton {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--color-background);
		cursor: pointer;
		border-radius: 50%;
		border: none;
	}
}
