:root {
	--color-background: rgb(234, 240, 247);
	--color-text: rgb(54, 58, 72);
	--color-share: rgb(100, 120, 146);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
